API_ID=10248430 # get this value from my.telegram.org
API_HASH=42396a6ff14a569b9d59931643897d0d # get this value from my.telegram.org
BOT_TOKEN=5542004466:AAFN-veVWIy2ogi8iOejSJ9O5golBAcmI4s # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://linauser:lina123@cluster0.oraxtbe.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001775132335 # get this value from in your log group 
MUSIC_BOT_NAME=lina # your music bot name 
STRING_SESSION=BQBFzXsOurJqD2gAZRIdayCupYl93Cwf5A7L2mjDYbQCmeKRWfBl1shi5WE7qpJ3IPNCVijxrt-gbkC-KrOzoUhlTQXLf7RRXquGth_8w2YfDtvt--fEkTcWGif4UhJgvMqbVeY6FCpXjaTBlw2iSN64PnU9q74olagGYgAe01Nwi0ExO_bGvwDIWJbc1rzATAWtaCDUsk85IAc7uMVGCv8OxCKtCs7fZ6WTtdEELmNZ8TyS_uPAJeVr4JePEEj-ke-1lVu8MLtDqnGN7IKeFp1yQslBwu4eh6huxAIZi_cOvpwSE20OutYUmwoHJYIelVK0TMiPvtJOr5DwPTJrH8K-AAAAAVNgfJAA # get this value from @yukkistringbot
